*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header{
    width: 100%;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 10;
}
.navbar{
    width: 85%;
    margin: auto;
    display: flex;
}
.logo{
    flex-basis: 15%;
}
.logo img{
    width: 100px;
    margin: 5px 0;
}
.logo,.navbar #list,.row{
    display: flex;
    align-items: center;
    
}
.navbar #list{
    
    flex: 1;
    justify-content: flex-end;
    margin-left: 180px;
}
.navbar #list li{
    list-style-type: none;
    margin-left: 25px;
    padding: 6px 16px;
    border-radius: 18px; 
    
}
.navbar #list li:hover{
    
    background: transparent;    
}
.navbar #list li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.navbar #list li a:hover{
    background: transparent;
    color: #f44336;
}
.navbar button{
    display: block;
    margin: auto;
    margin-left: 40px;
    padding: 10px 20px;
    outline: none;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    background: #f44336;
    font-weight: bold;
    transition: 0.5s ;   
}
.navbar button:hover{
    border: 2px solid;
    color: #f44336;
    background: #fff;
}
#sideMenu,#closeMenu{
    position: absolute;
    top: 15px;
    background: #fff;
    display: none;
}
#sideMenu{
    width: 22px;
    right: 50px;
}
#closeMenu{
    width: 35px;
    left: 15px;
    z-index: 10;
    background: transparent;
}




.contactt-us{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(image/con2.jpg);
}
.contactt{
    min-width: 800px;
    height: 30vh;
    text-align: center;
}
.contactt h1{
    font-size: 2rem;
    color: white;
    font-weight: 500;
}
.contactt p{
    color: white;
    font-weight: 500;
    font-size: 1rem;
    padding-top: 20px;
    line-height: 22px;
}
.contactt-sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    
}
.contactt-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
.box{
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
    padding-left: 30px;
}
.con-icons{
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    transition: 0.5s;
}
.box:hover .con-icons{
    background-color: #00bcd4;
    color: white;
}
.con-text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1rem;
    color: white;
    font-weight: 300;
}
.con-text h3{
    font-weight: 500;
    color: #00bcd4;
}
.con-text p{
    margin-top: 4px;
}
.context1{
    padding-left: 30px;
}
.con-text1{
     color: white;
     margin-top: 50px;
     font-weight: 500;
     padding-left: 20px;
     border-left: 40px solid #e91e63;
     line-height: 1em;
     
}
.social-ico{
    position: relative;
    display:  flex;
    gap: 40px;
    margin: 20px 0; 
    padding-left: 40px;
}
.social-ico li{
    list-style: none;
}
.social-ico li a{
     color: white;
     font-size: 2rem;
     transition: 0.5s;
}
.social-ico li a:hover{
    color: #00bcd4;
}
.contactt-form{
    position: relative;
    width: 40%;
    background-color: white;
    min-height: 100px;
    padding: 60px;
}
.contactt-form h2{
    font: 2rem;
    color: #333;
    font-weight: 500;
}
.contactt-form .inputbox{
position: relative;
width: 100%;
margin-top: 20px;
}
.inputbox input,.inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 1.1rem;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.inputbox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1rem;
    color: #666;
    transition: 0.5s;
}
.inputbox input:focus ~span,
.inputbox textarea:focus ~span{
    color: #e91e63;
    font-size: 0.9rem;
    transform: translateY(-20px);
}
.inputbox input[type="submit"]{
    width: 100px;
    background-color: #00bcd4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}
.inputbox input[type="submit"]:hover{
    border: 1.5px solid black;
}


#lastsec{
    width: 100%;
    color: #000;
    font-family: sans-serif;
    position: relative;
    background-color: #000;
}
a{
    text-decoration: none;
    transition: 0.5s;
    color: #fff;
}
ul,li{
    list-style-type: none;
}
footer{
    background-color: rgb(34, 34, 34);
    color: #fff;
    height: 30vh;
    padding-top: 60px;
}
.footer-info{
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
}
.footer-info, .footer-width{
    padding: 0 15px;
}
.footer-info  h2{
    margin-bottom: 20px;
}
.about, .contact, .link{
    width: 30%;
}

.social-media{
    margin-top: 30px;
}
.social-media ul{
    display: flex;
}
.social-media ul li a{
    display: inline-block;
    margin-right: 50px;
    width: 40px;
    height: 30px;
    padding-top: 12px;
    background-color: transparent;
    border: 1px solid #fff;
    text-align: center;
    color: #f44336;
}
.social-media ul li a:hover{
    background-color: #fff;
    color: #f44336;;
}
.link ul li a{
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
}   
.link ul li a:hover{
    color: #f44336;
}
.contact ul li{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contact ul li span{
    margin-right: 15px;
}
.copy-right{
    width: 100%;
    background-color: #f44336;
    padding: 10px 0;
    text-align: center;
    margin-top: 30px;
}







@media only screen and (max-width:700px) {
    

      .contactt-us{
        padding: 50px;
      }
      .contactt-sec1{
        flex-direction: column;
      }
      .contactt-info, .contactt-form{
        width: 100%;
      }
      .contactt-form{
        padding: 50px 30px;
      }

     
}